* {
  font-family: Roboto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.tabs {
  display: flex;
  justify-content: center;
  margin: 35px auto;
}
.tabs button {
  background-color: #038982;
  border: none;
  border-radius: 7px;
  margin: auto 10px;
  width: 150px;
  padding: 5px;
  font-size: 1.1rem;
  color: white;
}

.tab-programmers,
.tab-tasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
}
.persons {
  background-color: #005751;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 10px 15px;
  margin-bottom: 10px;
  border-radius: 7px;
  width: 100%;
  max-width: 500px;
}
.persons button {
  background: none;
  border: 2px solid #038982;
  border-radius: 5px;
  padding: 0 5px;
  font-size: 1rem;
  font-weight: bold;
  color: rgb(208, 0, 0);
}
.tab-tasks {
  text-align: center;
}
h2 {
  font-size: 35px;
  margin-bottom: 15px;
}
.tab-tasks p {
  margin-bottom: 15px;
}

form {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 300px;
  margin: 20px auto;
}
input {
  margin: 5px;
  padding: 7px 5px;
  border-radius: 5px;
  border: none;
  background-color: #c3eeec;
}
form button {
  margin: 10px auto;
  padding: 7px 15px;
  border-radius: 5px;
  border: none;
}
form button:disabled {
  color: rgb(223, 223, 223);
}
button:active {
  opacity: 0.5;
}

button:hover:enabled {
  transition: 0.2s;
  transform: scale(1.1) perspective(1px);
  cursor: pointer;
}
input[type='radio'] {
  accent-color: #038982;
}
.btn-add {
  color: white;
}
